/**
 * Add "df" icon to admin pages.
 */
@font-face {
  font-family: 'datafeedr';
  src: url('../assets/fonts/datafeedr.eot'); /* This is for IE. */
}
@font-face {
  font-family: 'datafeedr';
  src: url(data:application/font-woff;charset=utf-8;base64,xxx...) format('woff'),
  url(data:application/x-font-ttf;charset=utf-8;base64,xxx...) format('truetype');
  font-weight: normal;
  font-style: normal;
}

#adminmenu #toplevel_page_dfrapi.menu-icon-generic div.wp-menu-image:before {
  font-family: 'datafeedr' !important;
  content: 'dr';
}

.dfrapi_hide_label {
  display: none;
}

.dfrapi_warning {
  color: red;
}

a.dfrapi_plan_link {
  color: #00ac4a;
  text-decoration: underline;
  padding-right: 1px;
  padding-left: 1px;
}

/**
 * Add/Edit Product Set Page.
 */
.dfrapi_hidden {
  display: none;
}

/**
 * BEGIN "Networks" page CSS.
 */
#dfrapi_networks .group {
  margin-bottom: 5px;
  background-repeat: no-repeat;
  line-height: 33px;
  cursor: pointer;
  background-position: 4px 5px;
  padding: 2px;
  border-left: 4px #fff solid;
  border-top: 0px solid;
  border-right: 0px solid;
  border-bottom: 0px solid;
}

#dfrapi_networks .group.active {
  border-left: 4px #2ea2cc solid;
  background-color: #f7fcfe;
}

#dfrapi_networks .group .sep {
  color: gray;
}
#dfrapi_networks .group {
  background-color: #fcfcfc;
}

#dfrapi_networks .group .meta .name {
  font-size: 110%;
  padding-right: 10px;
  padding-left: 36px;
}

#dfrapi_networks .group.active .meta .name {
  font-weight: bold;
}

#dfrapi_networks .group .meta .status {
  font-weight: normal;
  font-size: 85%;
}

#dfrapi_networks .group .meta .status .num_missing {
  color: red;
  font-weight: bold;
}

#dfrapi_networks .group .meta .status .num_checked {
  color: #080;
}

#dfrapi_networks .group .networks {
  margin-left: 36px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: auto;
}

#dfrapi_networks .group .networks .networks_table th {
  padding: 5px;
}
#dfrapi_networks .group .networks .networks_table th.checkbox_head {
  width: 20px;
}
#dfrapi_networks .group .networks .networks_table th.type_head {
  width: 60px;
}
#dfrapi_networks .group .networks .networks_table tr.network td {
  vertical-align: middle;
}

/* Remove this to add Tracking ID input option. */
#dfrapi_networks .group .networks .networks_table tr.network td.network_name {
  white-space: nowrap;
  font-weight: bold;
}

#dfrapi_networks .group .networks .networks_table tr.network td.network_name .network_info {
  color: gray;
  font-size: 90%;
  font-weight: normal;
}

#dfrapi_networks .group .networks .networks_table tr.network td.network_type span {
  font-weight: normal;
  white-space: nowrap;
}

#dfrapi_networks .group .networks .networks_table tr.network td.aid_input {
  text-align: left;
  vertical-align: middle;
}

#dfrapi_networks .group .networks .networks_table tr.network td.tid_input {
  text-align: left;
  vertical-align: middle;
}

#dfrapi_networks .group .networks .networks_table tr.network td.aid_input .aid_input_field {
  width: 100%;
  border-color: #d7c3c4;
}

#dfrapi_networks .group .networks .networks_table tr.network td.tid_input .tid_input_field {
  width: 100%;
  border-color: #d7c3c4;
}

#dfrapi_networks .group .networks .networks_table tr.network.no_products {
  background-color: #f5f5f5;
}
#dfrapi_networks .group .networks .networks_table tr.network.no_products  td.network_name {
  font-style: italic;
  color: #b3b3b3;
}

#dfrapi_networks .group .networks .networks_table tr.network.no_products  td.network_name .network_info {
  font-style: italic;
  color: #b3b3b3;
}

#dfrapi_networks .group .networks .networks_table tr.network.no_products  td.network_name .network_info .num_products {
  color: #ff6b6d;
}

/**
 * BEGIN "Merchants" page CSS.
 */
#dfrapi_merchants .network {
  border-left: 4px #fff solid;
  border-top: 0px solid;
  border-right: 0px solid;
  border-bottom: 0px solid;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  background-position: 4px 5px;
  padding: 2px;
  line-height: 34px;
  cursor: pointer;
}


#dfrapi_merchants .network {
  background-color: #fff;
  border: 1px #cccccc solid;
}

#dfrapi_merchants .network.active {
  border-left: 4px #2ea2cc solid;
  background-color: #f7fcfe;
}

#dfrapi_merchants .network:hover {
  background-color: #fff;
}
#dfrapi_merchants .network:hover.active {
  background-color: #fff;
}

#dfrapi_merchants .network .meta .name {
  font-size: 110%;
  padding-right: 10px;
  padding-left: 36px;
}

#dfrapi_merchants .network.active .meta .name {
  font-weight: bold;
}

#dfrapi_merchants .network .meta .status {
  font-weight: normal;
  font-size: 85%;
}

#dfrapi_merchants .network .meta .status .num_checked_none {
  color: red;
  font-weight: bold;
}

#dfrapi_merchants .network .meta .status .num_checked_some {
  color: #009600;
}

#dfrapi_merchants .network .merchants {
  cursor: auto;
  margin-left: 36px;
  margin-right: 10px;
  margin-bottom: 36px;
}

#dfrapi_merchants .network .merchants .merchant_actions {
  margin-bottom: 10px;
}

#dfrapi_merchants .network .merchants .merchant_actions .reset_search {
  font-weight: bold;
  cursor: pointer;
}
#dfrapi_merchants .network .merchants .merchant_actions .sep {
  color: gray;
  margin-right: 5px;
  margin-left: 5px;
}

#dfrapi_merchants .network .merchants .merchants_table tr.merchant .merchant_checkbox {
  text-align: center;
  vertical-align: middle;
  width: 2%;
}

#dfrapi_merchants .network .merchants .merchants_table tr.merchant .merchant_name {
  width: 80%;
  white-space: nowrap;
}

#dfrapi_merchants .network .merchants .merchants_table tr.merchant .merchant_name label {
  display: block;
}

#dfrapi_merchants .network .merchants .merchants_table tr.merchant .merchant_info .num_products {
  width: 18%;
  white-space: nowrap;
}

#dfrapi_merchants .network .merchants .merchants_table tr.merchant.no_products {
  background-color: #f5f5f5;
}

#dfrapi_merchants .network .merchants .merchants_table tr.merchant.no_products .merchant_name {
  font-style: italic;
  color: #b3b3b3;
}

#dfrapi_merchants .network .merchants .merchants_table tr.merchant.no_products .merchant_info .num_products {
  font-style: italic;
  color: #ff6b6d;
}

#dfrapi_merchants .dfrapi_panes {
  overflow: auto;
  width: 100%;
}

#dfrapi_merchants .dfrapi_pane_left {
  width: 48.5%;
  float: left;
  border: 1px solid #dfdfdf;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
}

#dfrapi_merchants .dfrapi_pane_right {
  width: 48.5%;
  float: right;
  border: 1px solid #dfdfdf;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
}

#dfrapi_merchants .dfrapi_pane_content {
  overflow: auto;
  max-height: 300px;
  padding: 0;
  background: #f9f9f9;
  border-top: 1px solid #dfdfdf;
  clear: right;
}

#dfrapi_merchants .dfrapi_pane_title {
  background-color: #f2f2f2;
  border-bottom: 0px;
  padding: 10px;
  line-height: 25px;
  font-size: 12px;
  color: #555;
}

#dfrapi_merchants .dfrapi_pane_title a {
  float: right;
  margin-top: -2px;
}

#dfrapi_merchants .dfrapi_pane_title span {
  padding-right: 1em;
  font-weight: bold;
}

#dfrapi_merchants .merchant {
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  overflow: auto;
  border-bottom: 1px solid #dfdfdf;
}

#dfrapi_merchants .merchant_name {
  line-height: 100%;
  padding-left: 5px;
  float: left;
  font-size: 90%;
}

#dfrapi_merchants .merchant_info {
  font-size: 80%;
  line-height: 100%;
  margin-left: 20px;
  float: left;
}

#dfrapi_merchants .merchant.no_products .merchant_info {
  color: #ff6b6d;
}

#dfrapi_merchants .merchant .merchant_hint {
  float: right;
  line-height: 100%;
  font-size: 80%;
  font-style: italic;
}

#dfrapi_merchants .merchant.no_products {
  color: gray;
  font-style: italic;
}

#dfrapi_merchants .merchant.hidden {
  display: none;
}
#dfrapi_merchants .merchant input {
  display: none;
}
#dfrapi_merchants .merchant:hover {
  background-color: #eaf2fa;
  cursor: pointer;
}

#dfrapi_merchants .merchant .merchant_hint span {
  display: none;
  margin-right: 10px;
}

#dfrapi_merchants .dfrapi_pane_left .merchant:hover  .merchant_hint_add {
  display: inline;
}
#dfrapi_merchants .dfrapi_pane_right .merchant:hover .merchant_hint_remove {
  display: inline;
}

#dfrapi_account .account_table {
  max-width: 600px;
}
#dfrapi_account .account_table .desc {
  width: 33%;
}

/**
 * API ERROR MESSAGE.
 */
.dfrapi_api_error {
  padding: 0px;
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 10px;
  border: 1px solid #d9534f;
  background-color: #fff;
}

.dfrapi_api_error .dfrapi_head {
  background: #d9534f;
  color: #fff;
  padding: 10px 0 10px 5px;
  font-weight: bold;
}

.dfrapi_api_error div {
  display: block;
  padding: 5px;
}

.dfrapi_api_error .dfrapi_query strong {
  display: block;
}
.dfrapi_api_error .dfrapi_query span {
  color: #6c6c6c;
  font-family: monospace;
}

.dfrapi_api_info {
  padding: 0px;
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 10px;
  border: 1px solid #5bc0de;
}

.dfrapi_api_info .dfrapi_head {
  background: #5bc0de;
  color: #fff;
  padding: 10px 0 10px 5px;
  font-weight: bold;
}

.dfrapi_api_info div {
  display: block;
  padding: 5px;
}

.dfrapi_api_info .dfrapi_query strong {
  display: block;
}
.dfrapi_api_info .dfrapi_query span {
  color: #6c6c6c;
  font-family: monospace;
}

/* Network Logo Background (180x40) */
.network_logo_180x40_adrecord {
  background-image: url(../images/networks/180x40/adrecord.jpg);
}
.network_logo_180x40_adtraction {
  background-image: url(../images/networks/180x40/adtraction.jpg);
}
.network_logo_180x40_affiliate4you {
  background-image: url(../images/networks/180x40/affiliate4you.jpg);
}
.network_logo_180x40_affiliatefuture {
  background-image: url(../images/networks/180x40/affiliatefuture.jpg);
}
.network_logo_180x40_affiliatewindow {
  background-image: url(../images/networks/180x40/affiliatewindow.jpg);
}
.network_logo_180x40_affiliator {
  background-image: url(../images/networks/180x40/affiliator.jpg);
}
.network_logo_180x40_affilinet {
  background-image: url(../images/networks/180x40/affilinet.jpg);
}
.network_logo_180x40_amazon {
  background-image: url(../images/networks/180x40/amazon.jpg);
}
.network_logo_180x40_amazonlocal {
  background-image: url(../images/networks/180x40/amazonlocal.jpg);
}
.network_logo_180x40_avangate {
  background-image: url(../images/networks/180x40/avangate.jpg);
}
.network_logo_180x40_avantlink {
  background-image: url(../images/networks/180x40/avantlink.jpg);
}
.network_logo_180x40_belboon {
  background-image: url(../images/networks/180x40/belboon.jpg);
}
.network_logo_180x40_bettymills {
  background-image: url(../images/networks/180x40/bettymills.jpg);
}
.network_logo_180x40_bolcom {
  background-image: url(../images/networks/180x40/bolcom.jpg);
}
.network_logo_180x40_bridaluxe {
  background-image: url(../images/networks/180x40/bridaluxe.jpg);
}
.network_logo_180x40_buyat {
  background-image: url(../images/networks/180x40/buyat.jpg);
}
.network_logo_180x40_commissionfactory {
  background-image: url(../images/networks/180x40/commissionfactory.jpg);
}
.network_logo_180x40_commissionjunction {
  background-image: url(../images/networks/180x40/commissionjunction.jpg);
}
.network_logo_180x40_clickbank {
  background-image: url(../images/networks/180x40/clickbank.jpg);
}
.network_logo_180x40_clixgalore {
  background-image: url(../images/networks/180x40/clixgalore.jpg);
}
.network_logo_180x40_commissionmonster {
  background-image: url(../images/networks/180x40/commissionmonster.jpg);
}
.network_logo_180x40_daisycon {
  background-image: url(../images/networks/180x40/daisycon.jpg);
}
.network_logo_180x40_dgm {
  background-image: url(../images/networks/180x40/dgm.jpg);
}
.network_logo_180x40_doublenet {
  background-image: url(../images/networks/180x40/doublenet.jpg);
}
.network_logo_180x40_flipkart {
  background-image: url(../images/networks/180x40/flipkart.jpg);
}
.network_logo_180x40_gan {
  background-image: url(../images/networks/180x40/gan.jpg);
}
.network_logo_180x40_impactradius {
  background-image: url(../images/networks/180x40/impactradius.jpg);
}
.network_logo_180x40_linkconnector {
  background-image: url(../images/networks/180x40/linkconnector.jpg);
}
.network_logo_180x40_linkshare {
  background-image: url(../images/networks/180x40/linkshare.jpg);
}
.network_logo_180x40_m4n {
  background-image: url(../images/networks/180x40/m4n.jpg);
}
.network_logo_180x40_markethealth {
  background-image: url(../images/networks/180x40/markethealth.jpg);
}
.network_logo_180x40_mycommerce {
  background-image: url(../images/networks/180x40/mycommerce.jpg);
}
.network_logo_180x40_netshops {
  background-image: url(../images/networks/180x40/netshops.jpg);
}
.network_logo_180x40_onenetworkdirect {
  background-image: url(../images/networks/180x40/onenetworkdirect.jpg);
}
.network_logo_180x40_paidonresults {
  background-image: url(../images/networks/180x40/paidonresults.jpg);
}
.network_logo_180x40_partnerads {
  background-image: url(../images/networks/180x40/partnerads.jpg);
}
.network_logo_180x40_pepperjam {
  background-image: url(../images/networks/180x40/pepperjam.jpg);
}
.network_logo_180x40_regnow {
  background-image: url(../images/networks/180x40/regnow.jpg);
}
.network_logo_180x40_revresponse {
  background-image: url(../images/networks/180x40/revresponse.jpg);
}
.network_logo_180x40_shareasale {
  background-image: url(../images/networks/180x40/shareasale.jpg);
}
.network_logo_180x40_superclix {
  background-image: url(../images/networks/180x40/superclix.jpg);
}
.network_logo_180x40_tradedoubler {
  background-image: url(../images/networks/180x40/tradedoubler.jpg);
}
.network_logo_180x40_tradetracker {
  background-image: url(../images/networks/180x40/tradetracker.jpg);
}
.network_logo_180x40_webgains {
  background-image: url(../images/networks/180x40/webgains.jpg);
}
.network_logo_180x40_zanox {
  background-image: url(../images/networks/180x40/zanox.jpg);
}

/**
 * Network Logo Background (30x30).
 */
.network_logo_30x30_adrecord {
  background-image: url(../images/networks/30x30/adrecord.jpg);
}
.network_logo_30x30_adtraction {
  background-image: url(../images/networks/30x30/adtraction.jpg);
}
.network_logo_30x30_affiliate4you {
  background-image: url(../images/networks/30x30/affiliate4you.jpg);
}
.network_logo_30x30_affiliatefuture {
  background-image: url(../images/networks/30x30/affiliatefuture.jpg);
}
.network_logo_30x30_affiliatefuture_coupons {
  background-image: url(../images/networks/30x30/affiliatefuture-coupons.jpg);
}
.network_logo_30x30_affiliatewindow {
  background-image: url(../images/networks/30x30/affiliatewindow.jpg);
}
.network_logo_30x30_affiliatewindow_coupons {
  background-image: url(../images/networks/30x30/affiliatewindow-coupons.jpg);
}
.network_logo_30x30_affiliator {
  background-image: url(../images/networks/30x30/affiliator.jpg);
}
.network_logo_30x30_affilinet {
  background-image: url(../images/networks/30x30/affilinet.jpg);
}
.network_logo_30x30_affilinet_coupons {
  background-image: url(../images/networks/30x30/affilinet-coupons.jpg);
}
.network_logo_30x30_amazon {
  background-image: url(../images/networks/30x30/amazon.jpg);
}
.network_logo_30x30_amazonlocal {
  background-image: url(../images/networks/30x30/amazonlocal.jpg);
}
.network_logo_30x30_avangate {
  background-image: url(../images/networks/30x30/avangate.jpg);
}
.network_logo_30x30_avantlink {
  background-image: url(../images/networks/30x30/avantlink.jpg);
}
.network_logo_30x30_avantlink_coupons {
  background-image: url(../images/networks/30x30/avantlink-coupons.jpg);
}
.network_logo_30x30_belboon {
  background-image: url(../images/networks/30x30/belboon.jpg);
}
.network_logo_30x30_belboon_coupons {
  background-image: url(../images/networks/30x30/belboon-coupons.jpg);
}
.network_logo_30x30_bettymills {
  background-image: url(../images/networks/30x30/bettymills.jpg);
}
.network_logo_30x30_bolcom {
  background-image: url(../images/networks/30x30/bolcom.jpg);
}
.network_logo_30x30_bridaluxe {
  background-image: url(../images/networks/30x30/bridaluxe.jpg);
}
.network_logo_30x30_buyat {
  background-image: url(../images/networks/30x30/buyat.jpg);
}
.network_logo_30x30_clickbank {
  background-image: url(../images/networks/30x30/clickbank.jpg);
}
.network_logo_30x30_clixgalore {
  background-image: url(../images/networks/30x30/clixgalore.jpg);
}
.network_logo_30x30_commissionfactory {
  background-image: url(../images/networks/30x30/commissionfactory.jpg);
}
.network_logo_30x30_commissionfactory_coupons {
  background-image: url(../images/networks/30x30/commissionfactory-coupons.jpg);
}
.network_logo_30x30_commissionjunction {
  background-image: url(../images/networks/30x30/commissionjunction.jpg);
}
.network_logo_30x30_commissionjunction_coupons {
  background-image: url(../images/networks/30x30/commissionjunction-coupons.jpg);
}
.network_logo_30x30_commissionmonster {
  background-image: url(../images/networks/30x30/commissionmonster.jpg);
}
.network_logo_30x30_daisycon {
  background-image: url(../images/networks/30x30/daisycon.jpg);
}
.network_logo_30x30_dgm {
  background-image: url(../images/networks/30x30/dgm.jpg);
}
.network_logo_30x30_doublenet {
  background-image: url(../images/networks/30x30/doublenet.jpg);
}
.network_logo_30x30_flipkart {
  background-image: url(../images/networks/30x30/flipkart.jpg);
}
.network_logo_30x30_gan {
  background-image: url(../images/networks/30x30/gan.jpg);
}
.network_logo_30x30_impactradius {
  background-image: url(../images/networks/30x30/impactradius.jpg);
}
.network_logo_30x30_linkconnector {
  background-image: url(../images/networks/30x30/linkconnector.jpg);
}
.network_logo_30x30_linkconnector_coupons {
  background-image: url(../images/networks/30x30/linkconnector-coupons.jpg);
}
.network_logo_30x30_linkshare {
  background-image: url(../images/networks/30x30/linkshare.jpg);
}
.network_logo_30x30_linkshare_coupons {
  background-image: url(../images/networks/30x30/linkshare-coupons.jpg);
}
.network_logo_30x30_m4n {
  background-image: url(../images/networks/30x30/m4n.jpg);
}
.network_logo_30x30_markethealth {
  background-image: url(../images/networks/30x30/markethealth.jpg);
}
.network_logo_30x30_mycommerce {
  background-image: url(../images/networks/30x30/mycommerce.jpg);
}
.network_logo_30x30_netshops {
  background-image: url(../images/networks/30x30/netshops.jpg);
}
.network_logo_30x30_onenetworkdirect {
  background-image: url(../images/networks/30x30/onenetworkdirect.jpg);
}
.network_logo_30x30_paidonresults {
  background-image: url(../images/networks/30x30/paidonresults.jpg);
}
.network_logo_30x30_paidonresults_coupons {
  background-image: url(../images/networks/30x30/paidonresults-coupons.jpg);
}
.network_logo_30x30_partnerads {
  background-image: url(../images/networks/30x30/partnerads.jpg);
}
.network_logo_30x30_pepperjam {
  background-image: url(../images/networks/30x30/pepperjam.jpg);
}
.network_logo_30x30_pepperjam_coupons {
  background-image: url(../images/networks/30x30/pepperjam-coupons.jpg);
}
.network_logo_30x30_regnow {
  background-image: url(../images/networks/30x30/regnow.jpg);
}
.network_logo_30x30_revresponse {
  background-image: url(../images/networks/30x30/revresponse.jpg);
}
.network_logo_30x30_shareasale {
  background-image: url(../images/networks/30x30/shareasale.jpg);
}
.network_logo_30x30_shareasale_coupons {
  background-image: url(../images/networks/30x30/shareasale-coupons.jpg);
}
.network_logo_30x30_superclix {
  background-image: url(../images/networks/30x30/superclix.jpg);
}
.network_logo_30x30_tradedoubler {
  background-image: url(../images/networks/30x30/tradedoubler.jpg);
}
.network_logo_30x30_tradedoubler_coupons {
  background-image: url(../images/networks/30x30/tradedoubler-coupons.jpg);
}
.network_logo_30x30_tradetracker {
  background-image: url(../images/networks/30x30/tradetracker.jpg);
}
.network_logo_30x30_tradetracker_coupons {
  background-image: url(../images/networks/30x30/tradetracker-coupons.jpg);
}
.network_logo_30x30_webgains {
  background-image: url(../images/networks/30x30/webgains.jpg);
}
.network_logo_30x30_webgains_coupons {
  background-image: url(../images/networks/30x30/webgains-coupons.jpg);
}
.network_logo_30x30_zanox {
  background-image: url(../images/networks/30x30/zanox.jpg);
}

/**
 * Network Logo Background (16x16).
 */
.network_logo_16x16_adrecord {
  background-image: url(../images/networks/16x16/adrecord.jpg);
}
.network_logo_16x16_adtraction {
  background-image: url(../images/networks/16x16/adtraction.jpg);
}
.network_logo_16x16_affiliate4you {
  background-image: url(../images/networks/16x16/affiliate4you.jpg);
}
.network_logo_16x16_affiliatefuture {
  background-image: url(../images/networks/16x16/affiliatefuture.jpg);
}
.network_logo_16x16_affiliatefuture_coupons {
  background-image: url(../images/networks/16x16/affiliatefuture-coupons.jpg);
}
.network_logo_16x16_affiliatewindow {
  background-image: url(../images/networks/16x16/affiliatewindow.jpg);
}
.network_logo_16x16_affiliatewindow_coupons {
  background-image: url(../images/networks/16x16/affiliatewindow-coupons.jpg);
}
.network_logo_16x16_affiliator {
  background-image: url(../images/networks/16x16/affiliator.jpg);
}
.network_logo_16x16_affilinet {
  background-image: url(../images/networks/16x16/affilinet.jpg);
}
.network_logo_16x16_affilinet_coupons {
  background-image: url(../images/networks/16x16/affilinet-coupons.jpg);
}
.network_logo_16x16_amazon {
  background-image: url(../images/networks/16x16/amazon.jpg);
}
.network_logo_16x16_amazonlocal {
  background-image: url(../images/networks/16x16/amazonlocal.jpg);
}
.network_logo_16x16_avangate {
  background-image: url(../images/networks/16x16/avangate.jpg);
}
.network_logo_16x16_avantlink {
  background-image: url(../images/networks/16x16/avantlink.jpg);
}
.network_logo_16x16_avantlink_coupons {
  background-image: url(../images/networks/16x16/avantlink-coupons.jpg);
}
.network_logo_16x16_belboon {
  background-image: url(../images/networks/16x16/belboon.jpg);
}
.network_logo_16x16_belboon_coupons {
  background-image: url(../images/networks/16x16/belboon-coupons.jpg);
}
.network_logo_16x16_bettymills {
  background-image: url(../images/networks/16x16/bettymills.jpg);
}
.network_logo_16x16_bolcom {
  background-image: url(../images/networks/16x16/bolcom.jpg);
}
.network_logo_16x16_bridaluxe {
  background-image: url(../images/networks/16x16/bridaluxe.jpg);
}
.network_logo_16x16_buyat {
  background-image: url(../images/networks/16x16/buyat.jpg);
}
.network_logo_16x16_clickbank {
  background-image: url(../images/networks/16x16/clickbank.jpg);
}
.network_logo_16x16_clixgalore {
  background-image: url(../images/networks/16x16/clixgalore.jpg);
}
.network_logo_16x16_commissionfactory {
  background-image: url(../images/networks/16x16/commissionfactory.jpg);
}
.network_logo_16x16_commissionfactory_coupons {
  background-image: url(../images/networks/16x16/commissionfactory-coupons.jpg);
}
.network_logo_16x16_commissionjunction {
  background-image: url(../images/networks/16x16/commissionjunction.jpg);
}
.network_logo_16x16_commissionjunction_coupons {
  background-image: url(../images/networks/16x16/commissionjunction-coupons.jpg);
}
.network_logo_16x16_commissionmonster {
  background-image: url(../images/networks/16x16/commissionmonster.jpg);
}
.network_logo_16x16_daisycon {
  background-image: url(../images/networks/16x16/daisycon.jpg);
}
.network_logo_16x16_dgm {
  background-image: url(../images/networks/16x16/dgm.jpg);
}
.network_logo_16x16_doublenet {
  background-image: url(../images/networks/16x16/doublenet.jpg);
}
.network_logo_16x16_flipkart {
  background-image: url(../images/networks/16x16/flipkart.jpg);
}
.network_logo_16x16_gan {
  background-image: url(../images/networks/16x16/gan.jpg);
}
.network_logo_16x16_impactradius {
  background-image: url(../images/networks/16x16/impactradius.jpg);
}
.network_logo_16x16_linkconnector {
  background-image: url(../images/networks/16x16/linkconnector.jpg);
}
.network_logo_16x16_linkconnector_coupons {
  background-image: url(../images/networks/16x16/linkconnector-coupons.jpg);
}
.network_logo_16x16_linkshare {
  background-image: url(../images/networks/16x16/linkshare.jpg);
}
.network_logo_16x16_linkshare_coupons {
  background-image: url(../images/networks/16x16/linkshare-coupons.jpg);
}
.network_logo_16x16_m4n {
  background-image: url(../images/networks/16x16/m4n.jpg);
}
.network_logo_16x16_markethealth {
  background-image: url(../images/networks/16x16/markethealth.jpg);
}
.network_logo_16x16_mycommerce {
  background-image: url(../images/networks/16x16/mycommerce.jpg);
}
.network_logo_16x16_netshops {
  background-image: url(../images/networks/16x16/netshops.jpg);
}
.network_logo_16x16_onenetworkdirect {
  background-image: url(../images/networks/16x16/onenetworkdirect.jpg);
}
.network_logo_16x16_paidonresults {
  background-image: url(../images/networks/16x16/paidonresults.jpg);
}
.network_logo_16x16_paidonresults_coupons {
  background-image: url(../images/networks/16x16/paidonresults-coupons.jpg);
}
.network_logo_16x16_partnerads {
  background-image: url(../images/networks/16x16/partnerads.jpg);
}
.network_logo_16x16_pepperjam {
  background-image: url(../images/networks/16x16/pepperjam.jpg);
}
.network_logo_16x16_pepperjam_coupons {
  background-image: url(../images/networks/16x16/pepperjam-coupons.jpg);
}
.network_logo_16x16_regnow {
  background-image: url(../images/networks/16x16/regnow.jpg);
}
.network_logo_16x16_revresponse {
  background-image: url(../images/networks/16x16/revresponse.jpg);
}
.network_logo_16x16_shareasale {
  background-image: url(../images/networks/16x16/shareasale.jpg);
}
.network_logo_16x16_shareasale_coupons {
  background-image: url(../images/networks/16x16/shareasale-coupons.jpg);
}
.network_logo_16x16_superclix {
  background-image: url(../images/networks/16x16/superclix.jpg);
}
.network_logo_16x16_tradedoubler {
  background-image: url(../images/networks/16x16/tradedoubler.jpg);
}
.network_logo_16x16_tradedoubler_coupons {
  background-image: url(../images/networks/16x16/tradedoubler-coupons.jpg);
}
.network_logo_16x16_tradetracker {
  background-image: url(../images/networks/16x16/tradetracker.jpg);
}
.network_logo_16x16_tradetracker_coupons {
  background-image: url(../images/networks/16x16/tradetracker-coupons.jpg);
}
.network_logo_16x16_webgains {
  background-image: url(../images/networks/16x16/webgains.jpg);
}
.network_logo_16x16_webgains_coupons {
  background-image: url(../images/networks/16x16/webgains-coupons.jpg);
}
.network_logo_16x16_zanox {
  background-image: url(../images/networks/16x16/zanox.jpg);
}

.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.clearingdiv {
  clear: left;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}


/**
 * Added new css.
 */
#dfrapi_networks table {
  width: 100%;
  font-size: 0.923em;
  margin: 25px 0 10px;
  border: 1px solid #bebfb9;
}
html.js #dfrapi_networks fieldset.collapsed .fieldset-legend {
  background-image: none;
  background-position: 5px 21%;
}
html.js #dfrapi_networks fieldset.collapsible .fieldset-legend {
  background: none;
  padding-left: 15px;
  width: 98%;
}
html.js #dfrapi_networks fieldset.collapsed {
  height: 17px;
}
#dfrapi_networks table th a {
  display: inline;
}
