/**
 * CSS for CPT pages.
 */
#dfrps_raw_api_query {
  display: none;
}

.dfrps_dashboard_step_completed {
  text-decoration: line-through;
  color: #84a0aa;
  font-style: italic;
}

#dfrps_cpt_dashboard_metabox {
  background-color: #f7fcfe;
  border: 0px solid white;
  border-top: 4px #2ea2cc solid;
}
#dfrps_cpt_dashboard_metabox .inside {
  margin: 0;
  padding: 0;
}

#dfrps_cpt_dashboard_metabox #dfrps_dynamic_dashboard_area {
  padding: 0 12px 0 12px;
}
#dfrps_cpt_dashboard_metabox #dfrps_dashboard_actions {
  padding: 0 10px 6px 10px;
  clear: both;
  border-top: 1px solid #dcf4fe;
  background-color: #fff;
}

#dfrps_cpt_dashboard_metabox .handlediv {
  color: #2ea2cc;
}

#dfrps_cpt_dashboard_metabox h3 {
  line-height: 30px;
  color: #0d8ab8;
  text-shadow: 1px 1px #fff;
  border-bottom: 1px #dcf4fe solid;
}

#dfrps_cpt_dashboard_metabox h3:before {
  content: "\f226";
  font-family: dashicons !important;
  font-size: 30px;
  float: left;
}

#dfrps_cpt_dashboard_metabox p {
  color: #14374a;
}

#dfrps_cpt_dashboard_metabox .dashicons {
  font-family: dashicons !important;
  color: #4ca1c1;
  font-size: 20px;
  padding-right: 6px;
}


#dfrps_cpt_dashboard_metabox #dfrps_db_loading {
  display: block;
  background-color: Transparent;
  background-image: url('../../../../wp-admin/images/spinner.gif');
  background-repeat: no-repeat;
  background-position: center center;
  height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.dfrps_raw_query {
  float: left;
  margin-top: 3px;
  display: none;
}

.dfrps_raw_query a {
  color: #b9b9b9;
  font-size: 90%;
  font-weight: bold;
  text-decoration: none;
  line-height: 20px;
}

.dfrps_hidden {
  display: none;
}

#div_dfrps_tabs > .inside {
  padding: 0;
}
#edit-div-dfrps-tabs-tab-search > .inside {
  padding: 0;
}
#div_dfrps_tab_saved_search > .inside {
  padding: 0;
}
#div_dfrps_tab_included > .inside {
  padding: 0;
}
#div_dfrps_tab_blocked > .inside {
  padding: 0;
}


#div_dfrps_update_status > .inside > h4 {
  font-size: 14px;
  margin: 0px 0 8px 0px;
  padding-top: 5px;
}

#div_dfrps_update_status > .inside > p {
  margin-left: 20px;
}
#div_dfrps_update_status > .inside > div {
  margin-left: 20px;
}

.dfrps_progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.dfrps_progress-bar-success {
  background-color: #5cb85c;
}

.dfrps_progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
}

.dfrps_sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.dfrps_searching_x_products {
  text-align: center;
  font-size: 150%;
  margin-top: 20px;
  color: #a1a1a0;
}

/***************************************************************
// Add/Edit Product Set Page.
***************************************************************/


/**
 * CSS FOR TABS.
 */
#dfrps_cpt_tabs .nav-tab {
  font-size: 12px;
  line-height: 20px;
}

#dfrps_cpt_tabs .nav-tab span.count {
  border: 1px solid #ccc;
  margin-left: 4px;
  padding: 2px 4px 3px;
  font-size: 85%;
  background-color: #f9f9f9;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  -khtml-border-radius: 2em;
  color: #6e6e6e;
}

#dfrps_cpt_tabs .nav-tab.tab_disabled {
  border-style: dashed;
  border-width: 1px;
  font-style: italic;
  pointer-events: none;
  cursor: default;
  color: #bbb;
}

#dfrps_cpt_tabs .nav-tab.tab_disabled span.count {
  display: none;
}
#dfrps_cpt_tabs .nav-tab.tab_disabled span.loading {
  background-image: url('../../../../wp-admin/images/spinner.gif');
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 4px;
  color: transparent;
  line-height: 16px;
  padding: 2px 0;
}


#dfrps_cpt_tabs .nav-tab.tab_enabled span.loading {
  display: none;
}

.dfrps_updating_row th.check-column {
  border-left: 4px solid #2ea2cc;
}

#div_dfrps_last_update_status {
  background-color: #f5f5f5;
}
#div_dfrps_last_update_status h3 span {
  color: #707070;
  font-style: italic;
}
#div_dfrps_last_update_status .last_update_table .row-title {
  width: 25%;
  white-space: nowrap;
}

/**
 * CSS FOR PROUCT LISTS
 */
#datafeedr-product-sets-form #div_dfrps_tab_search_results {
  margin-top: 26px;
}

#datafeedr-product-sets-form .dfrps_pagination {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px;
  border: 1px solid #dfdfdf;
  background-color: #efefef;
}

#datafeedr-product-sets-form .dfrps_pagination .dfrps_pager_info {
  background: #f5f5f5;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#datafeedr-product-sets-form .dfrps_pager_label_wrapper {
  width: 21px;
  margin: 0 0 0 20px;
}

#datafeedr-product-sets-form .dfrps_pager_label_wrapper .dfrps_pager_label {
  min-width: 50px;
  color: #b1b1b1;
  font-size: 11px;
  text-shadow: 1px 1px 1px #fff;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  text-transform: uppercase;
  font-weight: bold;
  padding: 0px 0px 0px 5px;
}

#datafeedr-product-sets-form .dfrps_pager_links {
  margin-left: 26px;
  margin-top: -18px;
  background: #fff;
  padding: 4px;
  min-height: 36px;
  border-left: 1px solid #dfdfdf;
}

#datafeedr-product-sets-form .dfrps_pager_links a {
  background-color: #f9f9f9;
  padding: 2px;
  line-height: 1.94em;
  border: 1px #f1f1f1 solid;
}

#datafeedr-product-sets-form .dfrps_pager_links a:hover {
  background-color: #fff;
  padding: 2px;
  line-height: 1.94em;
  border: 1px #d54e21 solid;
}

/**
 * Product List Format - Table
 */
#datafeedr-product-sets-form table.dfrps_product_table {
  border-width: 1px;
  border-spacing: 0px;
  border-style: solid;
  border-collapse: collapse;
  background-color: white;
  width: 100%;
  margin-bottom: 10px;
}

#datafeedr-product-sets-form table.type_product {
  border-color: #d0e3f0;
}
#datafeedr-product-sets-form table.type_product td.product_type {
  background-color: #d0e3f0;
}
#datafeedr-product-sets-form table.type_product td.image {
  background-color: #f0f7fd;
}
#datafeedr-product-sets-form table.type_coupon {
  border-color: #dceead;
}
#datafeedr-product-sets-form table.type_coupon td.product_type {
  background-color: #dceead;
}
#datafeedr-product-sets-form table.type_coupon td.image {
  background-color: #f4feea;
}

#datafeedr-product-sets-form table.dfrps_product_table td {
  border-width: 0px;
  padding: 0;
  border-style: none;
  border-color: white;
  background-color: white;
  -moz-border-radius: 0;
}

#datafeedr-product-sets-form .dfrps_product_table td.image {
  width: 112px;
  height: 112px;
  text-align: center;
  vertical-align: middle;
}

#datafeedr-product-sets-form .dfrps_product_table td.image img {
  max-width: 100px;
  max-height: 100px;
}

#datafeedr-product-sets-form .dfrps_product_table td.info {
  text-align: left;
  vertical-align: top;
  padding-left: 5px;
}

#datafeedr-product-sets-form .dfrps_product_table td.name {
  padding-top: 3px;
  padding-left: 5px;
  padding-bottom: 5px;
}

#datafeedr-product-sets-form .dfrps_product_table td.links {
  min-width: 50px;
}

#datafeedr-product-sets-form .dfrps_product_table td.name > div {
  font-weight: bold;
  height: 30px;
  line-height: 1.2em;
  overflow: hidden;
  padding-right: 10px;
}

#datafeedr-product-sets-form .dfrps_product_table td.product_type {
  width: 10px;
  vertical-align: top;
  text-align: center;
  padding: 4px 1px 0 0;
}


#datafeedr-product-sets-form .dfrps_product_table td.info .description {
  height: 3em;
  line-height: 1.5em;
  overflow: hidden;
  margin: 2px 0 8px 0;
  font-size: 90%;
}

#datafeedr-product-sets-form .dfrps_product_table td.info .details .saleprice {
  margin: 0px 5px 0px 0;
  padding: 0px 4px 3px 4px;
  font-size: 11.5px;
  font-family: sans-serif;
  float: left;
  height: 1.1em;
  overflow: hidden;
}
#datafeedr-product-sets-form .dfrps_product_table td.info .details .price {
  margin: 0px 5px 0px 0;
  padding: 0px 4px 3px 4px;
  font-size: 11.5px;
  font-family: sans-serif;
  float: left;
  height: 1.1em;
  overflow: hidden;
}
#datafeedr-product-sets-form .dfrps_product_table td.info .details .merchant {
  margin: 0px 5px 0px 0;
  padding: 0px 4px 3px 4px;
  font-size: 11.5px;
  font-family: sans-serif;
  float: left;
  height: 1.1em;
  overflow: hidden;
}
#datafeedr-product-sets-form .dfrps_product_table td.info .details .brand {
  margin: 0px 5px 0px 0;
  padding: 0px 4px 3px 4px;
  font-size: 11.5px;
  font-family: sans-serif;
  float: left;
  height: 1.1em;
  overflow: hidden;
}
#datafeedr-product-sets-form .dfrps_product_table td.info .details .network {
  margin: 0px 5px 0px 0;
  padding: 0px 4px 3px 4px;
  font-size: 11.5px;
  font-family: sans-serif;
  float: left;
  height: 1.1em;
  overflow: hidden;
}

#datafeedr-product-sets-form .dfrps_product_table td.info .details .saleprice {
  color: #d0583f;
}
#datafeedr-product-sets-form .dfrps_product_table td.info .details .price {
  color: #6cb656;
}
#datafeedr-product-sets-form .dfrps_product_table td.info .details .merchant {
  color: #8d79a9;
}
#datafeedr-product-sets-form .dfrps_product_table td.info .details .brand {
  color: #6187b3;
}
#datafeedr-product-sets-form .dfrps_product_table td.info .details .network {
  color: #727272;
}

#datafeedr-product-sets-form .dfrps_product_table td.info .details .bullet {
  font-size: 40px;
  line-height: 10px;
  height: 10px;
  font-weight: bold;
  vertical-align: middle;
  padding-right: 0px;
}

#datafeedr-product-sets-form .dfrps_product_table td .action_links {
  float: right;
  border: 1px #e6e6e6 solid;
  padding: 3px 2px 0px 2px;
  margin: 0 4px 4px 0;
  display: block;
  font-size: 18px;
  line-height: 18px;
  background-color: #f9f9f9;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  -khtml-border-radius: 2em;
  white-space: nowrap;
}

#datafeedr-product-sets-form .dfrps_product_table td .action_links > div {
  float: left;
  margin: 0 2px;
  white-space: nowrap;
}

#edit-div-dfrps-tabs-tab-search .dfrps_remove_individual_product {
  display: none;
}
#edit-div-dfrps-tabs-tab-search .dfrps_unblock_individual_product {
  display: none;
}


#div_dfrps_tab_saved_search .dfrps_add_individual_product {
  display: none;
}
#div_dfrps_tab_saved_search .dfrps_product_already_included {
  display: none;
}
#div_dfrps_tab_saved_search .dfrps_remove_individual_product {
  display: none;
}
#div_dfrps_tab_saved_search .dfrps_unblock_individual_product {
  display: none;
}


#div_dfrps_tab_included .dfrps_product_already_included {
  display: none;
}
#div_dfrps_tab_included .dfrps_add_individual_product {
  display: none;
}
#div_dfrps_tab_included .dfrps_block_individual_product {
  display: none;
}
#div_dfrps_tab_included .dfrps_unblock_individual_product {
  display: none;
}


#div_dfrps_tab_blocked .dfrps_product_already_included {
  display: none;
}
#div_dfrps_tab_blocked .dfrps_add_individual_product {
  display: none;
}
#div_dfrps_tab_blocked .dfrps_block_individual_product {
  display: none;
}
#div_dfrps_tab_blocked .dfrps_remove_individual_product {
  display: none;
}


/**
 * More Info Format - Table.
 */
#datafeedr-product-sets-form .dfrps_product_table .more_info_row > td {
  background: #fff;
  padding: 10px;
}

#datafeedr-product-sets-form .dfrps_product_table .more_info_row .more_info_note span {
  font-style: italic;
}

#datafeedr-product-sets-form .dfrps_product_table table.product_values {
  border-spacing: 0px;
  border-collapse: collapse;
  background-color: white;
  border: 1px #c3c3c3 solid;
  width: 98%;
  margin: 10px auto;
}

#datafeedr-product-sets-form .dfrps_product_table table.product_values td {
  border-width: 1px;
  padding: 2px;
  border-style: inset;
  border-color: #c3c3c3;
  background-color: white;
  -moz-border-radius: 0;
  font-family: monaco, monospace;
  text-align: left;
  vertical-align: top;
  font-size: 10px;
  color: #333;
  line-height: 1.4em;
}

#datafeedr-product-sets-form .dfrps_product_table table.product_values tr.dfrps_data td {
  font-style: italic;
  color: #777;
}

#datafeedr-product-sets-form .dfrps_product_table table.product_values tr.odd td {
  background-color: #f7f7f7;
}
#datafeedr-product-sets-form .dfrps_product_table table.product_values tr.even td {
  background-color: #ececec;
}
#datafeedr-product-sets-form .dfrps_product_table table.product_values td.count {
  white-space: nowrap;
}
#datafeedr-product-sets-form .dfrps_product_table table.product_values td.field {
  font-weight: bold;
}

#datafeedr-product-sets-form .dfrps_product_table .more_info_row .more_info_note {
  font-size: 90%;
  margin-top: 6px;
  color: #6c6c6c;
  margin-left: 10px;
  margin-bottom: 10px;
}

#datafeedr-product-sets-form .dfrps_last_update_info_row {
  margin-bottom: 6px;
}
#datafeedr-product-sets-form .dfrps_last_update_info_row {
  white-space: nowrap;
}
#datafeedr-product-sets-form .dfrps_last_update_info_row div {
  white-space: nowrap;
}

#datafeedr-product-sets-form .dfrps_currently_updating {
  color: #ff6b6d;
  font-style: italic;
  font-weight: bold;
  white-space: nowrap;
}

.post-type-datafeedr-productset  th > a > span {
  font-size: 11px;
  font-family: sans-serif;
}
#datafeedr-product-sets-form th > a > span {
  font-size: 11px;
  font-family: sans-serif;
}

#datafeedr-product-sets-form .type-datafeedr-productset.status-draft {
  font-style: italic;
}
#datafeedr-product-sets-form .type-datafeedr-productset.status-draft > td {
  color: #888;
}
#datafeedr-product-sets-form .dfrps_tax_instructions {
  margin-bottom: 10px;
}

#datafeedr-product-sets-form .dfrps_saving_taxonomy {
  position: absolute;
  right: 20px;
  color: green;
  display: none;
}

#datafeedr-product-sets-form .dfrps_updating_row {
  background-color: #f7fcfe;
}
#datafeedr-product-sets-form .dfrps_updating_row td {
  font-weight: bold;
}

#edit-div-dfrps-tabs-tab-search .dfrps_delete_saved_search {
  display: none;
}
#div_dfrps_tab_included .dfrps_delete_saved_search {
  display: none;
}
#div_dfrps_tab_blocked .dfrps_delete_saved_search {
  display: none;
}

.dfrps_delete_saved_search {
  color: #a00;
  text-decoration: none;
}
.dfrps_delete_saved_search:hover {
  color: red;
}

#datafeedr-product-sets-form label[for="div_dfrps_tabs-hide"] {
  display: none;
}
#datafeedr-product-sets-form label[for="div_dfrps_tab_saved_search-hide"] {
  display: none;
}
#datafeedr-product-sets-form label[for="div_dfrps_tab_included-hide"] {
  display: none;
}
#datafeedr-product-sets-form label[for="div_dfrps_tab_blocked-hide"] {
  display: none;
}


/**
 * Search Form CSS
 */
#dfrps_search_form_wrapper #dfrps_save_update_search_actions {
  display: none;
  float: right;
  margin-left: 5px;
}

#dfrps_search_form_wrapper .actions {
  text-align: right;
  padding: 8px;
  border-top: 1px solid #ddd;
  background: #f5f5f5;
  clear: both;
  margin-top: 10px;
}

#edit-div-dfrps-tabs-tab-search #dfrapi_search_form {
  margin-left: 0px;
}


#datafeedr-product-sets-form #slugdiv {
  display: none;
}
#datafeedr-product-sets-form #edit-slug-box {
  display: none;
}
#datafeedr-product-sets-form #post-preview {
  display: none;
}
#datafeedr-product-sets-form #view-post-btn {
  display: none;
}
#datafeedr-product-sets-form #visibility {
  display: none;
}

#div_dfrps_tabs {
  margin-top: 20px;
}
#div_dfrps_update_status {
  margin-top: 10px;
}

/* This is for meta box */
#datafeedr-product-sets-form #poststuff h2 {
  padding-bottom: 0;
  padding-left: 5px;
  margin-top: 0;
}

#dfrps_search_form_wrapper td.form {
  background-color: #fff;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

#dfrps_search_form_wrapper .instructions {
  padding: 0;
  border-bottom: 1px #ddd solid;
  background: #f5f5f5;
  clear: both;
  margin-bottom: 10px;
}
#dfrps_search_form_wrapper .instructions > a {
  text-decoration: none;
  font-size: 90%;
  padding: 8px;
  display: block;
}

#datafeedr-product-sets-form #poststuff #dfrps_search_instructions #dfrps_search_instructions_wrapper {
  border-top: 1px #ddd solid;
  background-color: #fff;
  padding: 10px;
}
#datafeedr-product-sets-form #poststuff #dfrps_search_instructions #dfrps_search_instructions_wrapper table {
  margin-bottom: 20px;
}
#datafeedr-product-sets-form #poststuff #dfrps_search_instructions #dfrps_search_instructions_wrapper table .row-title {
  max-width: 20%;
  white-space: nowrap;
}
#datafeedr-product-sets-form #poststuff #dfrps_search_instructions #dfrps_search_instructions_wrapper table th {
  white-space: nowrap;
}
#datafeedr-product-sets-form #poststuff #dfrps_search_instructions #dfrps_search_instructions_wrapper table .operators {
  max-width: 20%;
  white-space: nowrap;
}

#datafeedr-product-sets-form #poststuff #dfrps_search_instructions #dfrps_search_instructions_wrapper table tt {
  color: #d54e21;
}

#datafeedr-product-sets-form #poststuff #dfrps_search_instructions #dfrps_search_instructions_wrapper table .operators tt {
  font-size: 20px;
}

#datafeedr-product-sets-form #poststuff #dfrps_search_instructions h2 {
  margin: 0 0 10px 0;
  padding: 0;
  border: 0;
}
#datafeedr-product-sets-form #poststuff #dfrps_search_instructions h3 {
  margin: 0 0 5px 0;
  padding: 0;
  border: 0;
}
#datafeedr-product-sets-form #poststuff #dfrps_search_instructions p {
  margin: 0 0 1em 0;
}

/* added new classes here */
#datafeedr-search-left {
  width: 67%;
  float: left;
}
#datafeedr-search-right {
  width: 27%;
  float: right;
}
#product_cat-all {
  max-height: 200px;
  overflow: auto;
}

#dfrps_cpt_search {
  float: right;
}
#dfrps_save_update_search_actions {
  display: none;
  float: right;
  margin-left: 5px;
}
.dfrps_raw_query {
  display: none;
  float: left;
  margin-top: 3px;
}
#dfrps_cpt_blocked_search {
  float: right;
  margin-top: 5px;
}
#div_dfrps_tab_blocked_search_results {
  margin-top: 26px;
}

#dfrps_cpt_included_search {
  float: right;
  margin-top: 5px;
}
#div_dfrps_tab_included_search_results {
  margin-top: 26px;
}

#dfrps_cpt_saved_search {
  float: right;
  margin-top: 5px;
}
#div_dfrps_tab_saved_search_results {
  margin-top: 26px;
}
